@model bcdevexchange.Components.TextWithSideImage.TextWithSideImageModel

@{string titleHTML = !String.IsNullOrEmpty(Model.Title)?"<title>"+Model.Title+"</title>": "" ;}
@{string buttonHtml = !String.IsNullOrEmpty(Model.ButtonUrl)?"<a href='"+Model.ButtonUrl+"' class='blue_btn'>Learn More</a>": "" ;}
@{string subtitleHtml = !String.IsNullOrEmpty(Model.SubTitle)?  "<subtitle>"+@Model.SubTitle.Replace("NEWLINE", "</subtitle><subtitle>")+"</subtitle>" :"";}
@{if (Model.TextOnLeft)
{
    
    <div class="row my-3 d-flex flex-md-row-reverse">
        <div class="col-md-7">
          <img class='sec_image' src=@("/img/"+Model.ImageFilePath) alt='image'>
        </div>
        <div class="col-md align-self-center">
            <div class="teaser">
                @Html.Raw(titleHTML)
                @Html.Raw(subtitleHtml)
                @Html.Raw(buttonHtml)
            </div>
        </div>
    </div>

} else {

    <div class="row my-3">
        <div class="col-md-7">
            <img class='sec_image' src=@("/img/"+Model.ImageFilePath) alt='image'>
        </div>
        <div class="col-md align-self-center">
            <div class="teaser">
                @Html.Raw(titleHTML)
                @Html.Raw(subtitleHtml)
                @Html.Raw(buttonHtml)
            </div>
        </div>
    </div>

}
}
