@{
ViewData["Title"] = "About Us";
Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNetCore.Html

@functions{
public IHtmlContent CreateCard(string name, string title, string fileName){
return Html.Raw($@"
<div class='card card-staff my-3'>
    <img src='img/about/team_headshots/{fileName}' class='card-img-top' alt='Test Person'>
    <div class='card-body'>
        <h5 class='card-title'>{name}</h5>
        <p class='card-subtitle'>{title}</p>
    </div>
</div>
");
}
}


<div class="hero about-us-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8">
                <div class="hero-text bg-overlay pb-5">We help remove barriers and create capabilities to accelerate better service delivery.</div>
            </div>
        </div>
    </div>
</div>
<div class="section_main light_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto text-center">
                <div class="teaser">
                    <title>Contact Us</title>
                    <subtitle>Drop by or send us an email. We'd be happy to hear from you!</subtitle> 
                    <div class="address mt-5">BCDevExchange</div>
                    <div class="address">3rd Floor, 1012 Douglas Street</div>
                    <div class="address">Victoria, BC &nbsp; V8W 2C3</div>
                    <div class="address my-5"><a href="mailto:BCDevExchange@gov.bc.ca">BCDevExchange@gov.bc.ca</a></div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10590.622561670343!2d-123.3694496!3d48.4247551!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x548f749aa7701737%3A0x30a7860ad590ab7a!2s1012%20Douglas%20St%2C%20Victoria%2C%20BC%20V8W%202C3!5e0!3m2!1sen!2sca!4v1580763711928!5m2!1sen!2sca" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section_main dark_bg">
    <h2 class="text-center">Our Team</h2>
    <div class="card-deck-wrapper">
        <div class="card-deck">
            @CreateCard("Rumon Carter", "Executive Director", "rumon.jpg")
            @CreateCard("Todd Wilson", "Director, DevOps Platform Services", "todd.jpg")
            @CreateCard("Heather Remacle", "Director, Lab Operations", "heather.jpg")
            @CreateCard("Olena Mitovska", "Product Owner", "olena.jpg")
            @CreateCard("Nick Corcoran", "Security Architect", "nick.jpg")
            @CreateCard("Ari Hershberg", "Senior Program Analyst", "ari.jpg")
            @CreateCard("Cailey Jones", "DevOps Platform Administrator", "cailey.jpg")
            @CreateCard("Luke Gonis", "Scrum Master", "luke.jpg")
            @CreateCard("Diana De Cotiis", "Education & Training Coordinator", "diana.jpg")
            @CreateCard("Pop Kanjanakantorn", "Project Coordinator", "pop.jpg")
            @CreateCard("Jonathan Sharman", "Developer", "jon.jpg")
            @CreateCard("Parul Mishra Dubedy", "Full Stack Developer", "parul.jpg")
            @CreateCard("Shea Stewart", "OpenShift Platform & Security Consultant", "shea.jpg")
            @CreateCard("Jason Leach", "Developer & Mobile Strategist", "jason.jpg")
            @CreateCard("Mark Wilson", "Researcher & Designer", "mark.jpg")
            @CreateCard("Dea De Jarisco", "Digital Talent Lead", "dea.jpg")
            @CreateCard("Tolu Aniemena-Osazuwa", "Scrum Master", "tolu.jpg")
            @CreateCard("Zachary Woodward", "Senior Director, IMIT Procurement", "zach.jpg")
            @CreateCard("Inderdeep Singh", "UX Designer", "inder.jpg")
        </div>
    </div>
</div>