@{
ViewData["Title"] = "ExchangeLab";
Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNetCore.Html
@functions{
public IHtmlContent CreateImageWithLeftSideText( string title, string text, string fileName){
return Html.Raw($@"
<div class='left-picture'>
    <div class='section_inner'>
        <div class='container'>
            <div class='row'>
                <div class='col-xl-6 col-md-6'>
                    <div class='outer'>
                        <div class='middle'>
                            <h2>{title}</h2>
                            <h3>{text}</h3>
                            <h2>{fileName}</h2>
                        </div>
                    </div>
                </div>
                <div class='col-xl-6 col-md-6'>
                    <img class='sec_image' src='img/home_img/003.jpg' alt='image'>
                </div>
            </div>
        </div>
    </div>
</div>
");
}
public IHtmlContent CreateImageWithRightSideText( string title, string text, string fileName){
return Html.Raw($@"
<div class='right-picture'>
    <div class='section_inner'>
        <div class='container'>
            <div class='row'>
                <div class='col-xl-6 col-md-6'>
                    <img class='sec_image' src='img/home_img/002.jpg' alt='image'>
                </div>
                <div class='col-xl-6 col-md-6'>
                    <div class='outer'>
                        <div class='middle'>
                            <div class='inner inner3'>
                                <h2>{title}</h2>
                                <h3>{text}</h3>
                                <h2>{fileName}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
");
}


}

<div class="landing">
    <!-- header-banner start -->
    <div class="banner_area">
        <div class="banner_inner">
            <div class="single_banner">
                <div class="container">
                    <div class="row">
                        <div class="exchange_lab_col">
                            <div class="exchange_lab_banner_text">
                                <h1> Accelerate your digital delivery team with a residency at the Exchange Lab </h1>
                                <p>
                                    The Exchange Lab is a collaborative work space where we host digital delivery teams
                                    from across the B.C. Public Service.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="exchange-lab-content-container">
        <div class="col-12">
            <h1>What happens at the Lab?</h1>
        </div>
        @CreateImageWithRightSideText(
            "",
            "Teams in residence are trained in Agile mindset and methods, and supported to use modern DevOps processes and technology.", 
            "img/home_img/002.jpg"
        )
        @CreateImageWithLeftSideText(
            "",
            "Openly sharing their progress and struggles on a regular basis, teams help each other improve their practices and solve problems.", 
            "img/home_img/002.jpg"
        )
        @CreateImageWithRightSideText(
            "",
            "Incrementally delivering a digital product and testing it with end users every few weeks, teams release a minimum viable product within a year.", 
            "img/home_img/002.jpg"
        )
        @CreateImageWithLeftSideText(
            "",
            "Upon graduation from the Lab, teams return to their home organization where they continue improving their product and spawn new digital delivery teams through modeling and mentorship.", 
            "img/home_img/002.jpg"
        )
    </div>


    <!-- section3 end -->
    <!-- section4 start -->
    <div class="section_main light_bg set-height">
        <div class="section_inner">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-md-6">
                        <div class="outer">
                            <div class="middle">
                                <div class="inner inner2 inner4">
                                    <h2 class="heading2">TimelineTimelineTimelineTimelineTimelineTimelineTimeline</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="exchange-lab-content-container">
        <div class="col-12">
            <h1>While in residence at the Exchange Lab, your team will benefit from:</h1>
        </div>
        @CreateImageWithRightSideText(
            "A Place to Call Home",
            "Insulated from the status quo operations of your home organization, your team will have a dedicated room where they can focus and sprint towards their goal.", 
            ""
        )
        @CreateImageWithLeftSideText(
            "Training & Coaching",
            "We will facilitate formal training for your team, help them make connections with other community members, and help bring your organization along for the journey.", 
            ""
        )
        @CreateImageWithRightSideText(
            "Experts on Tap",
            "Your team will have access to experts who can offer guidance in Service Design, Privacy and Security, Behavioural Insights, Integrated Data, and Social Media.", 
            ""
        )
        @CreateImageWithLeftSideText(
            "Platform Services",
            "Your team will get access to and support to use a suite of DevOps tools, including a hybrid-cloud container platform, so they can fully control the development and deployment of their product.", 
            ""
        )
        @CreateImageWithRightSideText(
            "Community",
            "Surrounded by other teams who are striving to improve their practices and products, your team will be encouraged and supported as they learn.", 
            ""
        )
    </div>

</div>