@{
    ViewData["Title"] = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- header-banner start -->
<div class="banner_training">
    <div class="banner_inner">
        <div class="single_banner">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="banner_text_training">
                            <h1> Make learning <br>easier and fun </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- header-banner end -->

@if (@Model["events"] != null)
{
    <!-- section2 start -->
    <div class="section_main light_bg">
        <div class="section_inner">
            <div class="conteiner">
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <h2 class="heading2">Courses</h2>
                        <br>
                    </div>
                </div>
                
                <div class="row">
                    @foreach (var cour in @Model["courses"])
                    {
                        <div class="col-xl-6 col-md-6">
                            <div class="course-wrap">
                                @if (cour.Logo != null && cour.Logo.Url != null)
                                {
                                    <img class="sec_image" src="@cour.Logo.Url" alt="image">
                                }
                                else
                                {
                                    <img class="sec_image" src="" alt="image">
                                }
                                <div class="course-content">
                                    <h4>@cour.Name.Text</h4>
                                    <p>@cour.Description.Text</p>
                                    <a href="@cour.Url" class="view-details">Register</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="section_main light_bg">
        <div class="section_inner">
            <div class="conteiner">
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <h2 class="heading2">Events</h2>
                        <br>
                    </div>
                </div>
                
                <div class="row">
                    @foreach (var eve in @Model["events"])
                    {
                        <div class="col-xl-6 col-md-6">
                            <div class="course-wrap">
                                @if (eve.Logo != null && eve.Logo.Url != null)
                                {
                                    <img class="sec_image" src="@eve.Logo.Url" alt="image">
                                }
                                else
                                {
                                    <img class="sec_image" src="" alt="image">
                                }
                                <div class="course-content">
                                    <h4>@eve.Name.Text</h4>
                                    
                                        <p>@eve.Description.Text</p>
                                    
                                    <a href="@eve.Url" class="view-details">Register</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- section2 end -->

}
<!-- section3 start -->
<div class="section_main light_bg">
    <div class="section_inner">
        <div class="conteiner">
            <div class="row">
                <div class="col-xl-6 col-md-6 tab-100">
                    <h4 class="heading4">Is there a course you wish we offered? <br>Got an idea for an event?</h4>
                    <br>
                    <h4 class="heading4">We'd love to hear from you.</h4>
                    <br>
                    <br>
                    <span class="small_text">Send us an email at</span>
                    <a href="#" class="link">BCDevExchange@gov.bc.ca</a>
                </div>
                <div class="col-xl-6 col-md-6 tab-100 team-wrap">
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <div class="team">
                                <img src="img/home_img/06.jpg" alt="Diana">
                                <div class="team-info">
                                    <h4>Diana De Cotiis</h4>
                                    <p>Training Co-ordinator</p>
                                    <span class="mail"><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="team">
                                <img src="img/home_img/07.jpg" alt="Ari Herschberg">
                                <div class="team-info">
                                    <h4>Ari Herschberg</h4>
                                    <p>Events Co-ordinator</p>
                                    <span class="mail"><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section3 end -->
